.device-details {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #222222;
    border-radius: 5px;
    outline: 0;
}
.device-details .content{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.device-details .buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.device-details .buttons .submit{
    color: #262626;
    background-color: #468902;
}
.device-details .buttons .submit:hover{
    background-color: #2C5702;
}
.device-details .buttons .cancel{
    color: #468902;
}
.device-details .buttons .delete{
    color: #262626;
    background-color: #ff0000;
    margin-left: 10px;
    margin-right: 10px;
}
.device-details .buttons .delete:hover{
    background-color: #b30000;
}
